.btn {
    background: linear-gradient(500deg, #6e8efb, #a777e3);
    border: 0;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: block;
    font-weight: bold;
      letter-spacing: .01em;
    margin: 0 auto;
    margin-top: 50px;
    padding: 1.2em 2em;
  }
  
  .price {
    width: 300px;
    margin: 80px auto 0;
    font-size: 70px;
    text-align: center;
  }

  button {
      margin-bottom: 20px;
      margin-left: 20px;
      padding: 10px;
      background: linear-gradient(200deg, rgba(248, 6, 6, 0.945), rgba(248, 248, 6, 0.932));
  }
  .titulo{
      text-align: center;
      color: crimson;
      size: 25px;
  }

  img {
      size: 100px;
      border: 2px solid red;
  }