
@import url(header.css);
@import url(menu.css);
@import url(footer.css);
@import url(menumedia.css);

*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-width: 520px;
}

 #myCarousel, .carousel slide, .carousel-indicators{
   top: 50px;
   margin-top: 20px;

}

main{
    display: block;
    width: 100%;
    top: 800px;
    margin: 12px 16px;
}

#regresiva {
  display: block;
  width: 50%;
  height: 50px;
  text-align: right;
  color: rgb(255, 0, 0);
  font-size: 48px;

.carousel-caption p{
    color:rgb(173, 255, 47);
    font-size: 18px;
}


.presentacion{
    display: block;
    margin-top: 70px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    font-size: 25px;
    list-style: none;
    padding: 18px;
}

.foto{
    display: block;
    margin-top: 50px;
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    margin-bottom: 25px;
    padding: 20;
}
.foto img{
    display: block;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px;
    width: 90%;
    height: 250px;

}

.foto p{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: rgb(12, 12, 12);
    margin-bottom: 16px;
}

.video{
    display: block;
    display: flex;
    box-sizing: border-box;
    width: 60%;
    height: auto;
    margin: 10px;
    top: 50px;
}

#mapa{
  margin-top: 20px;
  border: rgb(255, 0, 0) solid 3px;
  width: 30%;
}

   .pie{
       display: block;
       width: 100%;
       border-top: 1px solid  rgb(255, 69, 0);
       margin-top: 16px;
       margin-bottom: 20px;
   }

   .idiomas, .copy, .social{
           margin-bottom: 16px;
   }
   .socia, .copyl{
       text-align: center;
   }


   @media(min-width:600px) {
    .foto img{
        display: block;
        box-sizing: border-box;
        border-radius: 20px;
        width: 50%;
        height: 250px;}

        #contenidomodal img{
            display: block;
            width: 300px;
            height: 300px;
        }

   }